#root,
#root>div {
  width: 100%;
  height: 100%;
}

.root {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  display: -webkit-flex;
  display: flex;
  flex-direction: column
}

.root-header {
  height: 100%;
  box-sizing: border-box;
  background: #242424;
  /* border-bottom: 1px solid #000; */
  color: #cccccc
}

.root-header .logo {
  margin: 0;
  float: left;
  width: 176px;
  height: 69px;
  /* background: url(/assets/img/topbar.png) no-repeat 0 9999px; */
  background-position: 0 0;
}

.root-header .logo a {
  float: left;
  width: 157px;
  height: 100%;
  padding-right: 20px;
  text-indent: -9999px;
}

.root-body {
  /* position: absolute;
  top: 3.75rem;
  bottom: 6.25rem;
  left: 0;
  right: 0; */
  min-width: 51.25rem;
  max-width: 56.25rem;
  margin: auto;
  display: -webkit-flex;
  display: flex;
  flex: 1
}

.root-body .nav {
  width: 18.75rem;
  border-right: 1px solid #a40011;
}

.root-body .container {
  -webkit-flex: 1;
  flex: 1;
}

.root-footer {
  /* position: absolute;
  bottom: 0;
  left: 0;
  right: 0; */
  flex: 0 0 auto;
  height: 3.75rem;
  box-sizing: border-box;
  background-color: #C20C0C;
  /* border-bottom: 1px solid #a40011; */
  /* color: #cccccc */
}