.s-s-card {
  width: 100%;
  padding: 12px 0;
}

.s-s-body {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 12.8125rem;
}

.s-s-image {
  display: block;
  width: 10rem;
  height: 10rem;
}

.s-s-txt {
  color: #999;
  font-size: .9375rem;
  text-align: left;
  padding: 0 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.s-s-item .ant-card-body{
  padding: 0;
}
.s-s-item .ant-col-5 {
  width: 20%;
}