.home {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/assets/img/bb.png);
    background-origin: content-box;
    background-repeat: no-repeat;
    background-position: center;
    background-clip: content-box;
    background-size: 100%;
    color: #fff;
    left: 200px;
    bottom: 0;
    top: 0;
    right: 6px;
    position: absolute;
}

section.cover.show {
    display: flex;
}

section.cover {
    align-items: center;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    display: none;
}

section.cover .cover-main {
    flex: 1;
    /* margin: -20px 16px 0; */
    text-align: center;
    z-index: 1;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
}

section.cover .cover-main * {
    color: #fff;
}