.audio-body {
  height: 3.75rem;
  padding: 0 1.25rem;
  /* min-width: 31.25rem; */
  background-color: rgb(49, 49, 49);
  overflow: hidden;
  position: absolute;
  /* top: 0; */
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 12;
  transition: all 0.4s cubic-bezier(0.35, 0.26, 0.58, 1) 0s;
  -webkit-transition: all 0.4s cubic-bezier(0.35, 0.26, 0.58, 1) 0s;
}

.audio-body a {
  color: #fff;
}

.audio-content {
  height: 100%;
  max-width: 85.375rem;
  display: -webkit-flex;
  display: flex;
  margin: auto;
  position: relative;
}

.audio-body .audio-content>div {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  padding-right: 1.25rem;
}

.audio-btns>a {
  padding: 0 .3125rem;
  font-size: 1.25rem;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.audio-btns>a:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

/* .audio-details .audio-img-pic {
  height: 2.5rem;
  width: 2.5rem;
  overflow: hidden;
  border-radius: 100%;

}

.audio-details .audio-img-pic img {
  height: 100%;
  width: 100%;
}

.audio-details .audio-img-pic.play {
  animation: spin 10s linear infinite;
} */


.audio-play {
  flex: 1;
  /* min-width: 31.25rem; */
  position: relative;
}

.audio-play-name {
  position: absolute;
  left: 1.25rem;
  top: .3125rem;
  color: #fff
}

.audio-menu {
  /* width: 18.75rem */
  font-size: 1.25rem;
}

.audio-menu .menu-playList {
  margin-left: 5px
}

.audio-operation {
  position: absolute;
  /* width: 100%; */
  /* bottom: 3.75rem; */
  right: .625rem;
  text-align: center;
  padding-top: .3125rem;
  z-index: 13;
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.audio-operation:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}



/* 大屏样式 */

.audio-operation.screen {
  /* bottom: initial; */
  /* text-align: right; */
  top: 0;
  z-index: 13;
}

.audio-body.screen {
  height: 100%;
}

.audio-body.screen .audio-content {
  flex-direction: column;
}

/* @keyframes screenBody {
  0% {
    height: 60px;
  }
  100% {
    height: 100%;
  }
} */

.screen .audio-content>.audio-btns {
  padding: 1.25rem
}

.screen .audio-menu {
  position: absolute;
  bottom: 1.25rem;
  right: 0;
}

.screen .audio-details {
  flex: 1
}

/* .screen .audio-details .audio-img-pic {
  height: 25rem;
  width: 25rem;
  overflow: hidden;
  border-radius: 100%;
}

@media screen and (max-width: 450px) {
  .screen .audio-details .audio-img-pic {
    height: 18.75rem;
    width: 18.75rem;
  }
}

.screen .audio-details .audio-img-pic.play {
  animation: spin 25s linear infinite;
} */

.screen .audio-play {
  flex: initial;
  position: initial;
}

.screen .audio-play-name {
  left: 0;
  right: 0;
  font-size: 24px;
  text-align: center;
}


/* 音量 */

.menu-volume {
  display: flex;
  align-items: center;
  width: 20px;
  transition: all .6s;
}

.menu-volume:hover {
  width: 140px;
  padding-right: 8px;
}

.menu-volume .ant-slider {
  width: 100px;
  display: none;
}

.menu-volume:hover .ant-slider {
  display: block;
}

.menu-volume .ant-slider-track,
.menu-volume .ant-slider:hover .ant-slider-track {
  background-color: #ec0505;
}

.menu-volume .ant-slider-handle,
.menu-volume .ant-slider-handle:focus,
.menu-volume .ant-slider:hover .ant-slider-handle:not(.ant-tooltip-open) {
  border-color: #ec0505;
}

/* @keyframes volume {
  0% {
    width: 0;
    display: block;
  }
  100% {
    width: 100px;
    display: block;
  }
} */