/* For demo */

.ant-carousel .slick-slide {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}

.banner-center {}

.banner-img>img {
  width: 100%;
  height: 100%;
}
.banner-center .slick-center.banner-img>img  {
  transform: scale(1);
}