.AudioPlay-body {
  height: 100%;
  width: 100%;
  display: -webkit-flex;
  display: flex;
  padding: 0 1.25rem;
  min-width: 31.25rem;
}

.AudioPlay-body>div {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  padding: 0 1.25rem;
}

.AudioPlay-btns {}

.AudioPlay-btns>a {
  padding: 0 .3125rem;
}

.AudioPlay-img {}

.AudioPlay-img .AudioPlay-img-pic {
  height: 2.5rem;
  width: 2.5rem;
  overflow: hidden;
  border-radius: 100%;
  /* border: 2px solid red; */
}
.AudioPlay-img .AudioPlay-img-pic.play {
  -webkit-animation: spin 5s linear infinite;
  animation: spin 5s linear infinite;
}
@-webkit-keyframes spin {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      /* Firefox 16+, IE 10+, Opera */
  }
  100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
      /* Firefox 16+, IE 10+, Opera */
  }
}

@keyframes spin {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      /* Firefox 16+, IE 10+, Opera */
  }
  100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
      /* Firefox 16+, IE 10+, Opera */
  }
}

.AudioPlay-play {
  flex: 1;
  min-width: 31.25rem;
  position: relative;
}

.AudioPlay-play-name {
  position: absolute;
  left: 1.25rem;
  top: .3125rem
}

.AudioPlay-menu {
  width: 18.75rem
}